/*
 Theme Name:     Klariti Child Theme
 Theme URI:      https://codex.wordpress.org/Child_Themes
 Description:    Klariti Child Theme
 Author:         the WordPress team
 Author URI:     https://wordpress.org/
 Template:       klariti
 Version:        1.3
*/

@import url("../klariti/style.css");

body{
	font-family: 'Lato', sans-serif;
	overflow-x:hidden;
}
em{
	font-style:normal;
}
h1,h2,h3,h4,h5,h6,a{
	    font-family: 'Montserrat', sans-serif;
}
a{
	    transition: all .4s;
	    -webkit-transition: all .4s;
	    -moz-transition: all .4s;
}
a:focus {
    outline: none;
    outline-offset: 0;
}
a:focus, a:hover {
    color: #fff;
    text-decoration: none;
}

.inner_intro h4.green-clr {
    color: green;
    font-weight:600;
}
.navbar-right
 {
    float: right!important;
    margin-right: 15px;
    margin-top:8px;
}
.taxcorp_moto ul li
{
  display:inline-block;
  margin-right:-4px;
  width:33%;
}
.taxcorp_moto ul li:before
{
  display:none;
}
.taxcorp_moto ul li span.green-clr
{
  color: green;
}
.textwidget .taxcorp_bx
{
  position:relative;
  padding-left:55px;
}
.taxcorp_bx:before
{
    content: "\f164";
    position: absolute;
    font-family: FontAwesome;
    top:12px;
    left: 0;
    color: #f8be3f;
    font-size: 28px;
    vertical-align: middle;
}
.textwidget .col-md-3:nth-child(2) .taxcorp_bx:before
{
     content:"\f023";
     font-size:30px;
}
.textwidget .col-md-3:nth-child(3) .taxcorp_bx:before
{
     content:"\f09d";
     font-size:24px;
}
.textwidget .col-md-3:last-child .taxcorp_bx:before
{
     content:"\f108";
     font-size:23px;
}
.taxcorp_bx h5
{
     text-align:left;
    line-height:1.55;
    display:inline-block;
    vertical-align: middle;
    color:#5d5b5b;
    font-weight:500;
}
.site-header {
    transition:all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    padding:0;
}
.site-header.sticky {
    position:fixed;
    top:0;
    width:100%;
    right:0;
    z-index:999;
    left:0;
    background:#fff;
    box-shadow:0px 4px 3px rgba(0, 0, 0, 0.05);
}
.site-header nav.navbar {
    margin-bottom: 0;
}
.site-header nav.navbar .navbar-brand {
    height: auto;
    padding: 8px;
    margin: 0;
}
.main-navigation {
    text-align: center;
}
.main-navigation .menu-primary-menu-container {
    display: inline-block;
    margin-left: 150px;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
}

nav.navbar a {
    color: #444;
} 
.our-services .services-section {
    margin-top: 50px;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
    color: #006c11;
}
nav.navbar li.current-menu-item a {
    color: #006c11;
}
.main-navigation .menu-primary-menu-container a {
    text-transform: uppercase;
	font-size: 16px;
    color: #a1a1a1;
    padding:  20px 20px;
	transition: all .4s;
	-moz-transition: all .4s;
	-webkit-transition: all .4s;
}
.main-navigation .menu-primary-menu-container a:hover {
    color: #67b930;
}
.main-navigation ul.nav.navbar-nav.navbar-right a.auth {
    transition: all .4s;
	-moz-transition: all .4s;
	-webkit-transition: all .4s;
    color: #a1a1a1;
    font-size: 18px;
	padding: 20px 20px;
}
.main-navigation ul.nav.navbar-nav.navbar-right a.auth:hover {
       color: #006c11;
}

.top-bar .font-resizer li a.search-tog i {
    font-size: 30px;
    color: #a1a1a1;
}
.slider {
    position: relative;
}
.slider img {
    width: 100%;
}
.slider .slider-text {
    position: absolute;
    top: 100px;
    width: 60%;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    border: 6px solid #163247;
}
.slider .slider-text .slider-inner {
    background: rgba(22, 50, 71, 0.9);
    padding: 35px;
    margin: 5px;
}
.slider .slider-text .slider-desc h1 {
    color: #fff;
    font-size: 60px;
    line-height: 70px;
    margin-top: 0;
}
.slider .slider-text .slider-desc p {
    font-size: 28px;
    color: #fff;
}
.slider .slider-text .get-started a {
    padding: 8px 40px;
    background: #67b930;
    color: #fff;
    font-size: 28px;
    transition: all .4s;
	-moz-transition: all .4s;
	-webkit-transition: all .4s;
    border-radius: 4px;
    text-decoration: none;
}
.slider .slider-text .get-started a:hover {
    background: #0375b0;
}
.slider .slider-text .get-started {
    margin-top: 30px;
}
.site-main .panel-grid {
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 0 !important;
}	
.price_table_container a.btn.btn-success.btn-lg.btn-block {
    /*background: #006c11;*/
}
.latest-news {
    padding-top: 60px;
}
.latest-news h3.widget-title {
    text-align: center;
    margin-bottom: 60px;
    color: #959595;
    font-size: 35px;
    font-weight: 600;
}
.latest-news .wpcufpn_container.default li .insideframe {
    width: 95%;
    margin: 0 auto;
}
.latest-news .wpcufpn_container.default li .title {
    font-size: 20px;
    text-transform: uppercase;
    color: #0375b0;
    max-width: 100%;
    transition: all .4s;
    -moz-transition: all .4s;
    -webkit-transition: all .4s;
}
.latest-news .wpcufpn_container.default li .title:hover {
    color: #67b930;
}
.latest-news .wpcufpn_container.default li .title span.line_limit {
    height: auto !important;
}
.latest-news .wpcufpn_container.default li span.date {
    font-size: 13px;
    text-transform: uppercase;
}
.latest-news .wpcufpn_container.default li .text span {
    font-size: 15px;
    line-height: 30px;
    max-height: 100% !important;
}

.get-start {
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
}
.get-start:before {
    content: "";
    background: rgba(103, 185, 48, 0.8);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
}
.get-start .textwidget {
    position: relative;
}
.get-start .textwidget h3 {
    color: #fff;
    font-size: 35px;
    margin: 0 0 10px 0;
}
.get-start .textwidget a {
    padding: 10px 30px;
    background: #fff;
    color: #333;
    display: inline-block;
    transition: all .4s;
    -moz-transition: all .4s;
    -webkit-transition: all .4s;
    margin-top: 15px;
    text-transform: uppercase;
    font-size: 20px;
    border-radius: 4px;
    text-decoration: none;
}
.get-start .textwidget a:hover {
    background: #030303;
    color: #fff;
}
.canvas.canvas-slid:after {
    position: absolute;
    content: "";
    background: rgba(0,0,0,0.4);
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 99;
}
.navmenu-fixed-left, .navbar-offcanvas.navmenu-fixed-left {
    left: auto;
    right: 0;
}

.section-2-cosumer {
    margin-top: 50px;
    margin-bottom: 60px;
}
.section-2-cosumer .left-block {
    border: 10px solid #ccc;
    padding: 12px;
    width: 55%;
    height: 380px;
}
.section-2-cosumer .left-block .textwidget {
    position: relative;
    right: -100px;
    text-align: right;
    top: 70px;
}
.section-2-cosumer .left-block .textwidget h2 {
    margin: 0;
    padding-bottom: 10px;
    font-size: 46px;
      color: #006c11;
    background: #fff;
    font-weight: 600;
}		
.translated-ltr .section-2-cosumer .left-block .textwidget h2 {
    word-wrap: break-word;
    font-size: 40px;
}
/* .service-tab img { */
    /* max-width: 80%; */
    /* width: 60px; */
/* } */
.section-2-cosumer .right-block {
    margin-top: 20px;
}
.section-2-cosumer .right-block h2 {
    text-transform: uppercase;
    color: #333;
    font-weight: 600;
    line-height: 40px;
}
.section-2-cosumer .right-block h3 {
    font-size: 18px;
    line-height: 24px;
    color: #777;
    margin-bottom: 20px;
}
.section-2-cosumer .right-block p {
    color: #777;
    font-size: 16px;
}
.section-2-cosumer .right-block span {
       color: #006c11;
}
.section-2-cosumer .right-block .learn_more {
    margin-top: 30px;
}
.section-2-cosumer .right-block a {
   color: #006c11;
    text-decoration: none;
    font-size: 25px;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
}
.section-2-cosumer .right-block a:hover {
    color: #0375b0;
}

.our-services .service-slider .widget-title {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 40px;
}
.our-services .service-slider .unslider-arrow {
    display: none;
}

.our-services .service-slider .unslider .box {
    width: 99.6%;
    background: #fff;
    padding: 20px;
    margin-bottom: 2px;
}
.our-services .service-slider .unslider .box span {
    display: inline-block;
    width: 80px;
    font-size: 60px;
    vertical-align: top;
}
.our-services .service-slider .unslider .box .slide-contents {
    display: inline-block;
    width: 65%;
    vertical-align: top;
}
.our-services .service-slider .unslider .box h3 {
    overflow: hidden;
    font-size: 16px;
    font-weight: 600;
    color: #67b930;
    max-height: 50px;
    height: 40px;
    line-height: 20px;
}
.our-services .service-slider .unslider .box p {
    color: #777;
    font-size: 16px;
}
.our-services .service-slider .unslider .col-sm-4 {
    padding: 0;
}
.our-services .service-slider .unslider .box i {
    color: #67b930;
}
/* .our-services .service-slider .unslider nav.unslider-nav { */
    /* position: absolute; */
    /* right: -50px; */
    /* transform: rotatez(-90deg); */
    /* -webkit-transform: rotatez(-90deg); */
    /* -moz-transform: rotatez(-90deg); */
    /* bottom: 25px; */
/* } */
.our-services .service-slider .unslider nav.unslider-nav {
    margin-top: 30px;
}
.testimonials-slide-widget.design-3 .testimonial-inner .testimonial_avatar .avtar-image {
    width: 60px;
}
.our-services .service-slider .unslider .unslider-nav ol li {
    height: 15px;
    width: 15px;
    border-radius: 100px;
    border-color: #163247;
}
.our-services .service-slider .unslider nav.unslider-nav li.unslider-active {
    background: #337ab7;
}

#search {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
	    z-index: 9;
    background-color: rgba(22, 50, 71, 0.9);
    
    -webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;

    -webkit-transform: translate(0px, -100%) scale(0, 0);
	-moz-transform: translate(0px, -100%) scale(0, 0);
	-o-transform: translate(0px, -100%) scale(0, 0);
	-ms-transform: translate(0px, -100%) scale(0, 0);
	transform: translate(0px, -100%) scale(0, 0);
    
    opacity: 0;
}

#search.open {
    -webkit-transform: translate(0px, 0px) scale(1, 1);
    -moz-transform: translate(0px, 0px) scale(1, 1);
	-o-transform: translate(0px, 0px) scale(1, 1);
	-ms-transform: translate(0px, 0px) scale(1, 1);
	transform: translate(0px, 0px) scale(1, 1); 
    opacity: 1;
}

#search input[type="search"] {
    position: absolute;
    top: 50%;
    width: 100%;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0);
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    border: 0px;
    margin: 0px auto;
    margin-top: -51px;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;
}
#search .btn:hover {
    opacity: 0.8;
}
#search .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 60px;
    margin-left: -50px;
    padding: 10px 40px;
    border-radius: 3px;
    font-size: 22px;
    text-transform: uppercase;
    background: #67b930;
    border-color: #67b930;
    font-family: 'Montserrat', sans-serif;
}
#search .close {
    position: fixed;
    top: 15px;
    right: 15px;
    color: #fff;
	background-color: #67b930;
	border-color: #67b930;
	opacity: 1;
	padding: 10px 17px;
	font-size: 27px;
}



.testimonial h2.widget-title {
    text-align: center;
    color: #fff;
    margin-bottom: 50px;
    font-size: 30px;
    font-weight: 600;
}
.testimonial .testimonial-box.quote p {
    color: #fff;
    font-size: 15px;
    line-height: 30px;
}
.testimonial .testimonial-box.quote p em {
    font-style: normal;
}
#pg-4-0, #pg-4-1, #pg-4-2, #pg-4-3, #pl-4 .panel-grid-cell .so-panel {
    margin-bottom: 0 !important;
}
.testimonials-slide-widget.design-3 .testimonial-inner {
    border: none;
}
.testimonials-slide-widget.design-3 .testimonial-inner h4 {
    color: #fff;
}
.testimonials-slide-widget.design-3 .testimonial-inner .testimonial-cdec {
    color: #fff;
}
.testimonials-slidelist.design-3 .testimonial-inner:after, .testimonials-list.design-3 .testimonial-inner:after, .testimonials-slide-widget.design-3 .testimonial-inner:after, .testimonials-slidelist.design-3 .testimonial-inner:before, .testimonials-list.design-3 .testimonial-inner:before, .testimonials-slide-widget.design-3 .testimonial-inner:before{
	content:none;
}
.slick-initialized .slick-slide {
    outline: none;
}
.testimonial-bottom {
    text-align: center;
}

footer {
    background: #030303;
    padding-top: 20px;
    position: relative;
    font-style: normal;
}
footer .widget {
    position: relative;
    z-index: 99;
}
footer:after {
    content: "";
    position: absolute;
    background: url(http://klariti.in/wp-content/uploads/2017/04/leafs.png);
    background-position: right bottom;
    height: 100%;
    width: 475px;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
}
footer h2 {
    color: #fff;
    font-size: 24px;
    margin: 0 0 15px 0;
}
footer .footer-address, footer .footer-address a {
    color: #fff;
    line-height: 30px;
}
footer ul {
    padding: 0;
    margin: 0;
}

footer ul li {
    list-style: none;
    line-height: 32px;
}
footer ul li a {
    line-height: 30px;
    color: #fff;
    text-decoration: none;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
}
footer ul li a:hover {
    color: #67b930;
    text-decoration: none;
}
footer .footer-address i {
    padding-right: 10px;
    font-size: 22px;
}
footer section#nav_menu-4 {
    padding-top: 15px;
}
footer .site-info {
    padding: 15px 0 0 0;
    display: inline-block;
    width: 100%;
    text-align: left;
}
footer .site-info a {
    padding-left: 10px;
    color: #fff;
    text-decoration: none;
	    position: relative;
	    transition: all .4s;
	    -webkit-transition: all .4s;
	    -moz-transition: all .4s;
		font-size:12px;
}
footer .site-info .col-sm-7 {
    padding: 0;
}
footer .site-info ul.list-inline li:first-child a {
    padding-left: 0;
}
footer .site-info li:first-child a:after{
content:none;
}
footer .site-info a:after {
    position: absolute;
    left: 0;
    content: "";
    height: 100%;
    width: 100%;
    border-left: 1px solid;
    top: 0;
}
footer .site-info a:hover {
    color: #006c11;
}

footer .site-info .footer-copyright {
    color: #fff;
}
footer section#text-4 {
    margin-top: 20px;
}
footer section#text-4 .textwidget {
    color: #fff;
    font-weight: 600;
}

footer .site-info .footer-copyright {
    text-align: right;
    font-size: 12px;
    line-height: 32px;
}
footer section#text-4 a {
    display: inline-block;
    margin-left: 12px;
    height: 30px;
    width: 30px;
    border-radius: 100px;
    background: #333;
    text-align: center;
    line-height: 34px;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
}
footer section#text-4 a i {
    font-size: 16px;
    color: #fff;
}
footer section#text-4 a:hover {
    background: #0375b0;
}
footer section#text-4 a:hover i {
    color: #fff;
}
footer .footer-newslatter {
    position: relative;
}
footer .footer-newslatter input[type="email"] {
    padding: 12px 32px 12px 12px;
    height: 50px;
    background: #fff;
    border: 1px solid #fff;
    color: #333;
    outline: none;
    border-radius: 2px;
    width: 100%;
}
footer p.f_about_text {
    color: #fff;
    padding-top: 15px;
    padding-bottom: 20px;
    line-height: 27px;
}
footer .footer-newslatter input[type="submit"] {
    position: absolute;
    right: 0;
    top: 0;
    text-indent: -9999px;
    background: #006c11;
    border: none;
    z-index: 9999;
    width: 50px;
    height: 50px;
	cursor: pointer;
}
.footer-newslatter:after {
    content: "\f2b7";
    color: #fff;
    font-family: FontAwesome;
    position: absolute;
    right: 12px;
    top: 8px;
    z-index: 99999;
    font-size: 24px;
	cursor: pointer;
}

 li.gtransl select{
    border: 1px solid #a1a1a1;
    padding: 6px 12px;
    color: #a1a1a1;
    outline: none;
}
footer section#nav_menu-2 {
    padding-left: 25px;
}

/******Call Us***********/

.callus {
    bottom: 40%;
    position: fixed;
    right: 0;
    z-index: 9999;
    text-align: center;
}
.callus a {
  /* background: #3a9ad9 none repeat scroll 0 0; 
  background:#67b930 none repeat scroll 0 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #fff;
  display: block;
  height: 34px;
  line-height: 34px;
  padding: 2px 0;
  width: auto;*/
}
.callus i.fa.fa-phone {
    background: #030303 none repeat scroll 0 0;
    border-radius: 0;
    font-size: 22px;
    height: 40px;
    left: -40px;
    line-height: 40px;
    position: absolute;
    top: 10px;
    width: 40px;
    color: #fff;
    text-align: center;
}
.callus i.fa.fa-phone:hover {
opacity:0.8 ;
}
.remodal-close {
  left: auto;
  right: 0;
}
.popup-field {
  margin-bottom: 15px;
}
.popup-field label.labl-name {
    text-align: left;
    width: 100%;
    font-weight: normal;
    margin: 0;
}
.callus-popup .form-control {
    display: block;
    width: 100%;
    height: 45px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #191F26;
    background-color: #fff;
    background-image: none;
    border: 1px solid #DFDFD0;
    border-radius: 3px;
    box-shadow: none;
}
button.remodal-close {
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
    display: block;
    overflow: visible;
    width: 35px;
    height: 35px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    text-decoration: none;
    color: #fff;
    border: 0;
    outline: 0;
    background: #81c784;
}
.callus-popup span.rq {
    display: block;
    text-align: left;
    font-size: 12px;
    color: #ff0000;
    padding-top: 5px;
}
label {
  color: #191f26;
  display: inline-block;
  font-size: 13px;
  padding: 0 0 17px 1px;
  position: relative;
  text-transform: uppercase;
}
form#callus .sub-btn {
  text-align: right;
}
.callus-popup h1 {
    font-size: 24px;
    margin-top: 0;
}
.callus-popup p:empty {
    display: none;
}
.sub-btn .remodal-confirm {
    text-transform: uppercase;
}

.our-services .panel-grid-cell {
    padding: 0 !important;
}
.our-services .panel-grid {
    margin: 0 !important;
    border-right: 1px solid #fff;
}
.our-services .panel-grid:first-child {
    border-top: 1px solid #fff;
}
/* .our-services { */
    /* padding: 30px 0 !important; */
/* } */
.service-tab {
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
    min-height: 200px;
    line-height: normal;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    position: relative;
    background: rgba(255, 255, 255, 0.7);
    overflow: hidden;
}

.service-tab .textwidget {
    padding-top: 40px;
}

.service-tab a {
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
	transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
	color:#333 ;
}
.service-tab a:hover {
    color: #50ab50;
}

.service-tab h3 {
    font-size: 17px;
    margin: 10px 0 0 0;
    color: #000;
    font-weight: normal;
}
.service-tab:hover h3 {
    color: #000;
}

.inner-header {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    padding-top: 50px;
    margin-top: 15px;
}
.core .green {
    color: #006e10;
    font-size: 20px;
    font-weight: 600;
    line-height: 2;
    position: relative;
    margin-bottom: 10px;
    display: block;
}
.core .green, .core p {
    padding-left: 30px;
}
.core .green:before {
    content: "";
    position: absolute;
    background: #006e10;
    left: 0;
    top: 16px;
    width: 12px;
    height: 12px;
    border-radius: 100px;
}

.core .textwidget > p {
    color: #6f6f6f;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 10px;
    line-height: 27px;
}
.page.page-id-128 .core .textwidget > p {
    color: #6f6f6f;
    font-size: 16px;
    font-weight: normal;
    padding-bottom: 10px;
    line-height: 27px;
    padding-left: 0;
}
.inner_intro p {
    color: #777;
    font-size: 16px;
    line-height: 30px;
    width: 90%;
}

.inner_intro img {
    margin: 0 auto;
}
.head-cont {
    background: rgba(0, 108, 17, 0.87) none repeat scroll 0 0;
    padding: 40px 0px 40px 40px;
    max-height: 140px;
    height: 140px;
    overflow: hidden;
}
.head-img img.attachment-post-thumbnail.size-post-thumbnail.wp-post-image {
    height: 140px;
    width: 100%;
}
.head-cont h2.entry-title {
    margin: 0;
    line-height: normal;
}
.inner_intro .panel-grid-cell .widget-title {
    margin-bottom: 30px;
}
.bread {
      color: #fff;
}
.entry-title {
    color: #fff;
    font-size: 24px;
    /* line-height: 11px; */
}
.bread > a {
    color: #fff;
}
.head-img {
    padding: 0px;
}
.principle .widget-title, .inner_intro .widget-title, .core .widget-title {
    color: #343434;
    font-size: 20px;
    font-weight: 600;
}

.principle .panel-grid-cell .widget-title {
    margin-bottom: 30px;
    /* padding: 0 15px; */
}
.core .so-panel .widget-title {
    margin-bottom: 25px;
}
.core .so-panel .widget-title, .core .so-panel .textwidget {
    margin-left: 30px;
}

.principle ul li h4 {
    font-size: 18px;
    margin: 12px 0 0;
    line-height: 36px;
    color: #333;
    font-weight: 500;
    position: relative;
    padding-left: 30px;
}
.principle ul li h4:before {
    content: "\f046";
    font-family: fontawesome;
    position: absolute;
    font-size: 20px;
    color: #333;
    left: 0;
    height: auto;
    width: auto;
    top: 0;
    background: transparent;
    border-radius: 0;
}
.principle ul li {
    list-style: none;
    line-height: 50px;
    font-size: 18px;
    font-weight: 600;
    color: #777;
    padding-left: 0;
}
.principle ul li h3 i {
    font-size: 20px;
    color: #333;
    margin-right: 10px;
}

.principle .textwidget {
    color: #777;
    line-height: 30px;
    font-size: 16px;
}
.green_tick ul li
{
  position:relative;
}
.green_tick ul li:before
{
    content: "";
    position: absolute;
    top: 16px;
    left: 8px;
    width: 6px;
    height: 10px;
   border: 2px solid #7bc24c;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.inner-page h3 {
    color: #343434;
    font-weight: 600;
    font-size: 20px;
}
.inner-page p {
    color: #777;
    font-size: 16px;
    line-height: 30px;
}

/*.inner-page li {
    list-style: none;
    line-height: 40px;
    font-size: 18px;
    font-weight: 500;
    color: #777;
    padding-left: 30px;
    position: relative;
    top:9px;
}*/
/*.inner-page li:before {
    font-family: fontawesome;
    font-size: 20px;
    content: "";
    position: absolute;
    top: 16px;
    left: 8px;
    width: 6px;
    height: 10px;
    border: 2px solid #7bc24c;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}*/
.inner-page .principle ul li:before {
    content: none;
}
.inner-page h4 {
    font-size: 18px;
    margin-top: 20px;
    color: #343434;
	position: relative;
    padding-left: 20px;
}
.inner-page h4:before {
    content: "";
    position: absolute;
    left: 0;
    top: 4px;
    width:8px;
    height:8px;
    background: #7bc24c;
    border-radius: 100px;
}
.principle ul li h4:before {
    content: none;
}
/*** new css by satwant ******/
.inner-page .textwidget {
    color: #777;
    line-height: 30px;
    /*font-size: 16px;*/
}

.page-id-145 .inner-page {
    background: #e8e8e3;
}
.information__copy h4:before {
    content: none;
}

.l-masthead-lead {
    margin-top: -2.47458%;
    position: relative;
}

.information__copy {
    padding: 3.25424% 10.94915% 8.47458%;
    background: #fff;
    color: #333;
    text-align: left;
}
.information__copy button, .information__copy h1, .information__copy h2, .information__copy h3, .information__copy h4 {
    margin-top: 80px;
}


.information__copy h2 {
    font: 36px/42px 'Montserrat', sans-serif;
}

.information__copy button+*, .information__copy h1+*, .information__copy h2+*, .information__copy h3+*, .information__copy h4+* {
    margin-top: 30px;
}

.information__copy p {
    margin-bottom: 40px;
    font: 16px/30px 'Lato', sans-serif;
}
.information__copy button, .information__copy h4 {
    font: 28px/32px 'Montserrat', sans-serif;
    text-align: center;
    padding-left: 0;
}

.c-ccircles__shape {
    position: absolute;
    width: 100%;
    height: auto;
    margin-top: 50px;
    top: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.circle__copy {
    text-align: center;
    margin: 0 auto 0;
    width: 90%;
    position: relative;
    padding: 40px 40px 100px 40px;
}
.circle__copy h2 {
    font-weight: 600;
    font-size: 42px;
    line-height: 48px;
}

.c-ccircles__shape .circle-blue {
    fill: rgba(123, 194, 76, 0.15);
    -webkit-transform: translateX(-40%);
    -ms-transform: translateX(-40%);
    -o-transform: translateX(-40%);
    transform: translateX(-40%);
}

.c-ccircles__shape svg {
    position: absolute;
    left: 50%;
    top: 0;
    mix-blend-mode: multiply;
    margin-left: -230px;
}

svg:not(:root) {
    overflow: hidden;
}
.c-ccircles__shape .circle-peach {
    fill: #dae8ee;
    -webkit-transform: translateX(40%);
    -ms-transform: translateX(40%);
    -o-transform: translateX(40%);
    transform: translateX(40%);
}



/*******5march*********/

.start_business .textwidget h3 {
    color: #555;
    margin-bottom: 20px;
    background: #E2E1E1;
    margin: 0;
    padding: 0;
    font-weight: 400;
    text-transform: capitalize;
    text-align:center;
}
.start_business .textwidget ul {
    padding: 0 15px;
    margin-top: 0;
}
.start_business .textwidget ul li {
    font-size: 15px;
    padding: 0;
     line-height: 24px;
        font-weight: 500;
}
.start_business .textwidget ul li a {
    color: #666;
    font-size: 13px;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    line-height: 24px;
}
.start_business .textwidget li:before {
    content: "\f111";
    top: 2px;
    font-size: 8px;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    display:none;
}
.start_business .textwidget ul li a:hover {
    color: #fff;
}
.start_business .textwidget li:hover:before {
	color: #67b930;
}



.contact_form_div input[type="text"] {
    width: 100%;
    padding: 6px 20px;
    border: 1px solid #dedede;
    margin-bottom: 5px;
    outline: none;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    color: #666666;
    font-size: 13px;

}
.contact_form_div input[type="email"] {
    width: 100%;
    padding: 6px 20px;
    border: 1px solid #dedede;
    margin-bottom: 5px;
    outline: none;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    color: #666666;
    font-size: 13px;

}

.contact_form_div textarea {
    width: 100%;
    padding: 10px 20px;
    border: 1px solid #dedede;
    margin-top: 0px;
    outline: none;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    color: #666666;
    resize: none;
    font-size: 13px;    
	height: 150px;
}

.contact_form_div input[type="tel"] {
    width: 100%;
    padding: 5px 20px;
    border: 1px solid #dedede;
    margin-bottom: 5px;
    outline: none;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    color: #666666;
    font-size: 13px;
}
.contact_form_div input[type="text"]:focus,
.contact_form_div input[type="tel"]:focus,
.contact_form_div input[type="email"]:focus, 
.contact_form_div textarea:focus {
    border-color: #666666;
}
.contact-info {
    width: 75%;
    margin: auto;
}
ul.information-list li{
    position: relative;
}
ul.information-list span {
    position: absolute;
    top: 0;
    left: 40px;
}
.contact_form_div input[type="submit"] {
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
    background: #006c11;
    position: relative;
    line-height: 40px;
    border-radius: 3px;
    margin-bottom: 0;
    font-size: 14px;
    margin-top: 0;
    padding: 0px 27px;
    border: none;
}

.contact-info h2 {
    margin-top: 0px;
    color: #006c11;
    font-weight: 600;
    border-bottom: 2px solid #67b930;
    padding-bottom: 7px;
    width: 200px;
}


.contact-info ul.information-list {
    margin: 0;
    padding: 10px 0 0 0;
}
.contact-info ul.information-list li {
    list-style: none;
    overflow: hidden;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 15px;
    line-height: 24px;
    padding-bottom: 15px;
    padding-left: 0;
}
.contact-info ul.information-list li:first-child{
    padding-bottom:20px;
}
.contact-info ul.information-list li span {
    display: block;
    font-size: 14px;
    color: #666666;
    font-weight: 500;
    line-height: 24px;
    margin: 0;
    margin-bottom: 0;
    font-family: 'Montserrat', sans-serif;
}
.inner-page .contact-info li:before{
	content:none;
}
/*.contact-info ul.information-list li i {
    font-size: 20px;
    color: #666;
    padding-right: 10px;
}*/
.contact-info ul.information-list li a {
    color: #666666;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    font-size: 14px;
}
.contact-info ul.information-list li a:hover{
	color:#67b930;
}
.contact_form_div input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required.wpcf7-not-valid {
    border-color: #f00;
}
.contact_form_div .wpcf7-validation-errors {
    border: 2px solid #f00;
    color: #f00;
}

.inner-page h3.widget-title  {
    margin-top: 0;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 20px;
}

.error404 .hero-unit {
    padding: 60px;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    color: inherit;
    background-color: #eeeeee;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    text-align: center;
    margin: 50px auto 100px;
}
.textwidget .col-sm-12:last-child .tradmark
{
  border-bottom:0;
}
.tradmark {
    border:0;
    height: auto;
   padding:20px 0 20px;
   border-bottom:1px solid #eee;
   margin-bottom:16px;
}
.trademark_heading
{
    width:25%;
    display: inline-block;
    margin-right: -4px;
    vertical-align: top;
    background: #E2E1E1;
    padding:15px 15px 15px;
    margin-top:8px;
}
.trademark_heading h3 {
    color: #555;
    margin-bottom: 0;
    background: #E2E1E1;
    margin: 0;
    padding: 11px 30px;
    font-weight: 400;
    text-transform: capitalize;
    font-size:20px !important;
}
.trademark_category_btns
{
   width:75%;
   display:inline-block;
   margin-right:-4px;
   vertical-align:top;
   text-align:right;
   padding-left:18px;
   text-align:left;
}
.trademark_category_btns ul
{
  margin:0;
   padding:0;
}
.trademark_category_btns ul li
{
    display: inline-block;
    margin-right: 12px;
    margin-bottom:18px;
}
.trademark_category_btns ul li a:after
{
	content:"";
	position:absolute;
	bottom:0;
	left:0;
	height:0;
	width:100%;
    background-color: #006c11;
	color:#fff;
       transition:all 0.4s ease-in-out;
       -webkit-transition:all 0.4s ease-in-out;
       -moz-transition:all 0.4s ease-in-out;
       z-index:-1;
       
}
.trademark_category_btns ul li a:hover:after
{
    height:100%;
}
.trademark_category_btns ul li:nth-child(3)
{
  margin-right:12px;
}
.trademark_category_btns ul li a
{
  padding:8px 12px;
  border:1px solid #d2cece;
  font-size:14px !important;
  display:inline-block;
  position:relative;
  z-index:0;
}
.trademark_category_btns ul li a:hover
{
   color:#fff;
   border:1px solid #006c11;
   
}
.trademark_category_btns ul li:last-child
{
  margin-right:0;
  margin-bottom:0;
}
.top-bar {
    background: #fff;
    color: #777;
    z-index: 99;
    position: relative;
    width: 100%;
}
.top-bar .close {
    color: #7C7C7C;
    font-size: 20px;
    display: none;
    opacity: 1;
    text-align: center;
    float: none;
    text-shadow: none;
    padding: 6px 12px;
}
.top-bar-right {
    position: relative;
    text-align: -webkit-auto;
    display: inline-block;
    width: 100%;
}
.navbar-brand {
    height: auto;
    padding: 0px 15px;
}
.site-header nav.navbar {
    position: absolute;
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 0;
    z-index: 98;
}
.site-header.sticky nav.navbar {
    background:#465153;
    border-top: 1px solid #f2f2f2;
}
.navbar #mega-menu-wrap-primary {
    clear: both;
    background: transparent;
}
.navbar #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a.mega-menu-link {
    height: 50px;
    line-height: 50px;
    color: #666;
	transition:all.4s;
	-webkit-transition:all.4s;
	-moz-transition:all.4s;
	    font-size: 15px;
}
.navbar #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a.mega-menu-link:hover {
    color: #fff;
}
.site-header.sticky nav.navbar #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a.mega-menu-link {
    color: #fff;
}
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item.mega-toggle-on > a.mega-menu-link, #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a.mega-menu-link:hover, #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a.mega-menu-link:focus {
    background: #006c11;
	    color: #fff;
}
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item.mega-current-menu-item > a.mega-menu-link, #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item.mega-current-menu-ancestor > a.mega-menu-link, #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item.mega-current-page-ancestor > a.mega-menu-link{
	background: #006c11;
	    color: #fff;
}
.top-bar ul li {
    float: none;
    display: inline-block;
    padding: 0 10px;
	vertical-align: middle;
}
.top-bar ul li a:hover {
    color: #006c11;
}
.top-bar ul li a span {
    color: #006c11;
}
.top-bar ul li.gtransl {
    margin-top: -4px;
}
.top-bar ul li.gtransl .skiptranslate.goog-te-gadget {
    font-family: 'Montserrat', sans-serif !important;
}
.top-bar ul li.gtransl .goog-te-gadget .goog-te-combo {
    margin: 0;
    border: none !important;
    color:#666;
    font-size: 14px;
    letter-spacing: 0;
    font-weight: 500;
    padding: 0 !important;
}
.top-bar ul.right-top li:last-child {
    padding-right: 0;
}
.top-bar .right-top.font-resizer li a i {
        color: #006c11;
    font-size: 22px;
}
.top-bar .right-top.font-resizer li a.auth i {
    color: #a1a1a1;
	    font-size: 22px;
}
.top-bar .right-top.font-resizer li a.search-tog i {
    padding: 0px;
    color: #a1a1a1;
    font-size: 22px;

}
.top-bar ul li a {
    display: inline-block;
    color: #666;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 500;
}
ul.right-top {
    padding: 0;
    margin-bottom: 0;
}
.right-top i {
    color: #006c11;
	padding-right: 10px;
    font-size: 19px;
    vertical-align: middle;
}
.top-bar .font-resizer {
    margin-left: 0;
    padding: 0;
    margin-bottom: 0;
    margin-top: 21px;
    margin-right: 20px;
}

ul.fonts_dime li a:hover {
    color: #006c11;
}
ul.fonts_dime {
    padding: 0;
    text-align: right;
    position: absolute;
    right: 0;
    margin: 0;
}
ul.fonts_dime li {
    display: block;
    background: #f8f8f8;
    padding: 5px 20px;
    border-bottom: 1px solid #ccc;
}
ul.fonts_dime li:last-child {
    border: none;
}
ul.fonts_dime li a {
    font-weight: 500;
    font-size: 20px;
}
.top-bar .font-resizer li a i {
    vertical-align: middle;
}

.font-resizer a.decrease i, .font-resizer:hover a.decrease i {
    font-size: 18px;
	color: #666;
}
.font-resizer a.resetMe i, .font-resizer:hover a.resetMe i {
    font-size: 22px;
	color: #666;
}
.font-resizer a.increase i, .font-resizer:hover a.increase i {
    font-size: 26px;
	color: #666;
}

.price_table_container{
	text-align:center;
	color:#666;
	margin-top:35px;
	font-family: 'Open Sans', sans-serif;
}
.price_table_heading {
    font-size: 20px;
    padding: 10px;
    background: #EEE;
    font-weight: 600;
}


.price_table_row {
    padding:15px;
	background: #FFF;
}

.cost {
    padding: 20px;
    font-size: 25px;
}
.testimonials-slide-widget button.slick-arrow {
    z-index: 99;
}
.cost span{
	font-size:15px;
}

.price_table_row:nth-of-type(even) {
    background: #F8F8F8;
}
.btn{
	border-radius:0px;
}

.recommended{
background:#FF3A3A; 
color:#FFF;	
padding:3px 0 3px 0;
margin-top:10px;  
text-align:center;
margin-bottom:-35px;
}







/*Background*/
.primary-bg{background:#337AB7;color:#FFF;}
.success-bg{background:#5CB85C;color:#FFF;}
.info-bg{background:#5BC0DE;color:#FFF;}
.warning-bg{background:#F0AD4E;color:#FFF;}
.danger-bg{background:#D9534F;color:#FFF;}
.dark-bg{background:#444;color:#FFF;}
.royal-bg{background:#8E74E2;color:#FFF;}
.static-bg{background:#2BB0A6;color:#FFF;}

/*Only Text Colours*/
.primary-text{background:#FFF;color:#337AB7;}
.success-text{background:#FFF;color:#006c11;}
.info-text{background:#FFF;color:#5BC0DE;}
.warning-text{background:#FFF;color:#F0AD4E;}
.danger-text{background:#FFF;color:#D9534F;}
.dark-text{background:#FFF;color:#444;}
.royal-text{background:#FFF;color:#8E74E2;}
.static-text{background:#FFF;color:#2BB0A6;}

/*Additional Button styles*/

/*BTN-DARK*/
.btn-dark {
  color: #fff;
  background-color: #444;
  border-color: #444;
}
.btn-dark:hover,
.btn-dark:focus,
.btn-dark.focus,
.btn-dark:active,
.btn-dark.active,
.open > .dropdown-toggle.btn-dark {
  color: #fff;
  background-color: #222;
  border-color: #222;
}
.btn-dark:active,
.btn-dark.active,
.open > .dropdown-toggle.btn-dark {
  background-image: none;
}


/*BTN-ROYAL---------*/
.btn-royal {
  color: #fff;
  background-color: #8E74E2;
  border-color: #8E74E2;
}
.btn-royal:hover,
.btn-royal:focus,
.btn-royal.focus,
.btn-royal:active,
.btn-royal.active,
.open > .dropdown-toggle.btn-royal {
  color: #fff;
  background-color: #7451E8;
  border-color: #7451E8;
}
.btn-royal:active,
.btn-royal.active,
.open > .dropdown-toggle.btn-royal {
  background-image: none;
}


/*BTN-STATIC---------*/
.btn-static {
  color: #fff;
  background-color: #2BB0A6;
  border-color: #2BB0A6;
}
.btn-static:hover,
.btn-static:focus,
.btn-static.focus,
.btn-static:active,
.btn-static.active,
.open > .dropdown-toggle.btn-static {
  color: #fff;
  background-color: #07A094;
  border-color: #07A094;
}
.btn-static:active,
.btn-static.active,
.open > .dropdown-toggle.btn-static {
  background-image: none;
}

.float-shadow .price_table_body {
    box-shadow: 10px 10px 50px 0 rgba(0,0,0,0.2);
    -webkit-box-shadow: 10px 10px 50px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 10px 10px 50px 0 rgba(0,0,0,0.2);
}
.recommended .glyphicon-heart:before {
    content: "\f004";
    font-family: "fontawesome";
}

.hover-div {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	-webkit-transform: rotateX(90deg);
	transform: rotateX(90deg);
	-webkit-transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	z-index: 1;
	opacity: 0;
	/* padding: 20px 30px; */
	text-align: center;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.6s ease;
	transition: all 0.6s ease;
    background: rgba(0, 108, 17, 0.75);
	border: 10px solid #fff;
	padding: 10px;
}

.service-tab:hover .hover-div {
	-webkit-transform: rotateX(0deg);
	transform: rotateX(0deg);
	opacity: 1;
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}
.hover-div span {
    background: #fff;
    border-radius: 3px;
    padding: 8px 15px;
    margin: 0% auto 6px;
    font-size: 13px;
    font-weight: 500;
    display: inline-block;
    width: 220px;
}
.hover-div span.full-badge {
    display: block;
    min-width: 220px;
    width: 220px;
    margin: 0% auto 6px;
}
.service-tab .hover-div a {
    position: static;
    height: auto;
}
.service-tab a.read-more {
    display: block;
    background: #fff;
    min-width: 100px;
    width: 152px;
    margin: 10px auto 0;
    position: absolute;
    padding: 6px 12px;
    border-radius: 0;
    color: #000;
    height: 40px;
    text-decoration: none;
    bottom: 0;
    left: 0;
    line-height: 34px;
    right: 0;
    font-size: 16px;
}

.container.requirment-min.panel-widget-style .textwidget ul {
    margin-bottom: 40px;
}


.container.requirment-min.panel-widget-style h3.widget-title {
    margin-bottom: 0;
    margin-top: 0;
}

.inner-page .company-incorportion h3.widget-title {
    margin-bottom: 50px;
    font-size: 28px;
    padding: 0 15px;
    color: #000;
}
.message-aspirants {
    background: #ffffff;
    padding: 40px 0 35px;
    /* border-left: 7px solid #217f2f; */
    margin-bottom: 35px;
    box-shadow: -1px 2px 5px 1px rgba(205, 200, 200, 0.5);
    -webkit-box-shadow: -1px 2px 5px 1px rgba(205, 200, 200, 0.5);
    -moz-box-shadow: -1px 2px 5px 1px rgba(205, 200, 200, 0.5);
    height: 380px;
    overflow: hidden;
}

.message-aspirants h3 span.bl_cole {
    background: #3a579a;
}

.message-aspirants h3 span.rd_code {
    background: #df4a32;
}
.message-aspirants h3 span.ye_code {
    background: #ddb831;
}

.message-aspirants h3 {
    position: absolute;
    top: -20px;
    right: 15px;
}
.message-aspirants h3 span {
    background: #217f2f;
    display: inline-block;
    padding: 6px 71px;
    color: #fff;
    font-style: normal;
    font-weight: 500;
}
.message-aspirants ul {
    padding: 0;
}
.message-aspirants ul  li {
    padding-bottom: 10px;
 list-style:none;
}
.message-aspirants ul li {
    list-style: none;
    line-height: 30px;
    font-size: 16px;
    font-weight: 500;
    color: #777;
    position: relative;
    top: 9px;
    padding-left: 20px;
}
/*.message-aspirants ul  li:before {
    font-family: fontawesome;
    font-size: 20px;
    content: "";
    position: absolute;
    top: 10px;
    left: 8px;
    width: 0px;
    height: 10px;
    border: 2px solid #006c11;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}*/

.trademark_heading h3 a {
    color: #555;
}



h3.widget-title.heading_tex_box {
    margin-top: 30px;
    margin-bottom: 20px !important;
}
.firm strong {
    color: #7bc24c;
    font-weight: 500;
}


.inner-page .requirment-min .textwidget strong {
    color: #7bc24c;
}

.inner-page .requirment-min ul li {
    font-size: 17px;
}
h3.heading_title {
    color: #7bc24c;
    font-size: 32px;
}

.circle__copy h2 {
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    text-transform: capitalize;
    margin-top: 75px;
}
.customer.-support span {
    display: inline-block;
    vertical-align: text-bottom;
}
.customer.-support i {
    font-size: 22px;
    padding-right: 10px;
    vertical-align: middle;
    color: #fff;
}
.customer.-support .contact-desc {
    display: inline-block;
    width: 84%;
    vertical-align: top;
    padding-bottom: 15px;
}
.customer.-support .contact-desc p {
    margin-bottom: 0;
    line-height: 25px;
    color: #fff;
}

.phone-support p, .email-support p  {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 0;
    width: 84%;
}
.phone-support p a, .email-support p a {
    color: #fff;
	    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
}
.phone-support p a:hover, .email-support p a:hover {
    color: #67b930;
}
.phone-support {
    padding-bottom: 10px;
}
footer section#text-4 a:hover {
    background: #006c11;
}
.register-inner input.woocommerce-Button.button {
    height: 40px;
    background: #dc155d !important;
    border: #dc155d !important;
    width: 100%;
    outline: none;
    margin: 15px 0 0 0;
    border-radius: 0;
}
.register-inner input.woocommerce-Button.button:hover {
opacity:0;
}

.page-services-tabs {
    padding-top: 50px;
    padding-bottom: 50px;
}
body .page-services-tabs .wonderplugintabs > .wonderplugintabs-header-wrap .wonderplugintabs-header-li-active {
    border-right: 1px solid #ccc;
}
body  .page-services-tabs .wonderplugintabs > .wonderplugintabs-header-wrap .wonderplugintabs-header-li {
    margin-bottom: 25px;
    border-radius: 0;
    border: 1px solid #d5d5d5;
    background: #e8e8e8;
    border-left: 4px solid #d5d5d5;
	top: 0;
	padding-left: 0;
	cursor:pointer;
}
.inner-page .page-services-tabs li:before{
	content:none;
}
body  .page-services-tabs .wonderplugintabs > .wonderplugintabs-header-wrap .wonderplugintabs-header-li .wonderplugintabs-header-caption {
    padding: 0;
}
body  .page-services-tabs .wonderplugintabs > .wonderplugintabs-header-wrap .wonderplugintabs-header-li-active {
    border-left: 4px solid #217f2f;
    background: transparent;
}
body  .page-services-tabs .wonderplugintabs .wonderplugintabs-header-wrap .wonderplugintabs-header-li .wonderplugintabs-header-caption .wonderplugintabs-header-title {
    padding: 8px 15px;
    width: 100%;
    margin: 0;
    font-weight: 600;
    font-size: 14px;
}
body  .page-services-tabs .wonderplugintabs > .wonderplugintabs-header-wrap .wonderplugintabs-header-li-active .wonderplugintabs-header-caption .wonderplugintabs-header-title {
    color: #217f2f;
}
.page-services-tabs .wonderplugintabs-panel-inner {
    color: #909090;
    line-height: 28px;
    font-size: 14px;
}
.inner-page .page-services-tabs h4:before {
    content: none;
}
.inner-page .page-services-tabs h4 {
    color: #343434;
    font-size: 16px;
    margin-top: 20px;
    padding: 0;
	line-height: 30px;
	margin-bottom: 6px;
}
.inner-page .page-services-tabs .wonderplugintabs-panel-inner ul {
    padding: 0;
    margin: 0;
}
.inner-page .page-services-tabs .wonderplugintabs-panel-inner ul li {
    padding: 0 0 0 20px;
    font-size: 14px;
    line-height: 30px;
    top: 0;
    position: relative;
	list-style: none;
}
li {
    list-style: none;
}
.inner-page .page-services-tabs .wonderplugintabs-panel-inner ul li:before {
    content: "";
    position: absolute;
    left: 0;
    top: 12px;
    width: 8px;
    height: 8px;
    background: #7bc24c;
    border-radius: 100px;
}	
.inner-page .page-services-tabs .wonderplugintabs-panel-inner h3.widget-title {
    color: #343434;
    font-size: 16px;
    margin-top: 20px;
    padding: 0;
    margin-bottom: 6px;
}
.inner-page .page-services-tabs .taxcorp_moto.process_sec {
    clear: both;
}
.inner-page .page-services-tabs .taxcorp_moto.process_sec li {
    padding: 0;
    font-size: 14px;
    line-height: 30px;
    top: 0;
}

.inner-page .page-services-tabs .wonderplugintabs-panel-inner .taxcorp_bx {
    padding-left: 24px;
}
.inner-page .page-services-tabs .taxcorp_moto.process_sec {
    clear: both;
    padding-top: 20px;
}
.inner-page .page-services-tabs .taxcorp_moto.process_sec li {
    padding: 0;
    font-size: 14px;
    line-height: 30px;
    top: 0;
    position: relative;
    padding-left: 18px;
}
.inner-page .page-services-tabs .taxcorp_moto.process_sec li:before {
    content: "";
    position: absolute;
    left: 0;
    top: 10px;
    width: 8px;
    height: 8px;
    background: #7bc24c;
    border-radius: 100px;
}
.inner-page .page-services-tabs .taxcorp_bx h5 {
    font-size: 12px;
}
.inner-page .page-services-tabs .taxcorp_bx:before {
    content: "\f164";
    position: absolute;
    font-family: FontAwesome;
    top: 12px;
    left: 0;
    color: #fff;
    font-size: 20px;
    vertical-align: middle;
    background: #006c11;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 100px;
}
.section-4.testimonial .widget_sp_testimonials {
    margin: 0 auto;
    width: 65%;
}
.section-4.testimonial .widget_sp_testimonials .testimonial-cdec {
    text-transform: capitalize;
}
.section-4.testimonial .widget_sp_testimonials .testimonial_avatar {
    margin-bottom: 15px;
}
.section-4.testimonial {
    background-repeat: no-repeat;
    background-size: cover;
}
	.switcher .option {
    position: absolute !important;
   }

table, th, td {
    /*border: 1px solid #ccc;*/
    border-collapse: collapse;
}

table.prodect_table {
    width: 100%;
    display: block;
    border-collapse: inherit;
    border: none;
    border-spacing: 0;
}
table.prodect_table th {
    text-align: center;
    color: #006c11;
    font-size: 16px;
    padding: 4px;
    border-top: 0;
    border-right: 0;
    border-left: 0;
}
table.prodect_table td:first-child {
    border-left: 0;
    border-top: 0;
    border-right: 0;
}
table.prodect_table td:last-child {
    border-top: none;
    border-right: 0;
}
body .page-services-tabs .wonderplugintabs table tr td {
    padding: 6px 12px;
}


/*******************************14 june*********************/
.glossary_table table tbody tr td{
vertical-align:middle;
/*text-align:justify;*/
}
.glossary_table tr td:first-child,
.glossary_table tr th:first-child {
    width: 17%;
}
.glossary_table thead{
color: #217f2f;
box-shadow: 0px 1px 4px rgba(0,0,0,.2);
font-size:18px;
}
/*.glossary_table thead tr th{
padding-top:20px;
padding-bottom:20px;
}*/
.glossary_table tbody tr:nth-child(even){
background: rgba(218,218,218,.4);
box-shadow: 2px 4px 12px rgba(218,218,218,.8);
}

/*******************************15 june*********************/

.glossary_search_section{
    float: right;
    margin-right: 90px;
}
.glossary_search_section label> .screen-reader-text{
display:none;
}
.glossary_search_section input{
    padding: 8px 12px;
    border: 1px solid #217f2f;
    font-size: 16px;
}
.glossary_search_section button{
    padding: 8px 12px;
    font-size: 16px;
    background: #217f2f;
    color: #fff;
    border: 1px solid #217f2f;
    margin-left:-1px;
    transition:all .3s;
}
.glossary_search_section button:hover{
    background: transparent;
    color: #217f2f;
    transition:all .3s;
}
.glossary_search_section input::-webkit-input-placeholder { 
  color: #217f2f;
}
::-moz-placeholder { 
  color: #217f2f;
}
:-ms-input-placeholder { 
  color: #217f2f;
}
:-moz-placeholder {
  color: #217f2f;
}




.price_table_row.star li:before {
  content: '\2713';
  font-family: 'FontAwesome';
  float: left;
  margin-right:5px;
  color: #217f2f;
}

.price_table_row.star h4 { 
 font-size: 18px;
 margin: 0 0 5px 0;
 }
.price_table_row ul {
padding: 0;    
margin: 0;
list-style-type:none;
}
.price_table_row.star li {    
line-height: 30px;
font-size:14px;
}

.private_company_btn{
background:#e24f43;
border-color:#e24f43;
opacity:.8;
transition:all .3s ease-in-out;
}
.private_company_btn:hover{
background:#e24f43;
border-color:#e24f43;
opacity:1;
transition:all .3s ease-in-out;
}
.llp_btn{
background:#27ae60;
border-color:#27ae60;
opacity:.8;
transition:all .3s ease-in-out;
}
.llp_btn:hover{
background:#27ae60;
border-color:#27ae60;
opacity:1;
transition:all .3s ease-in-out;
}
.opc_btn{
background:#f39c12;
border-color:#f39c12;
opacity:.8;
transition:all .3s ease-in-out;
}
.opc_btn:hover{
background:#f39c12;
border-color:#f39c12;
opacity:1;
transition:all .3s ease-in-out;
}
.warn{
color:#e24f43;
}
.prime{
color:#27ae60;
}
.success{
color:#f39c12;
}

#footer .text-left {
    width: 80%;
    margin: auto;
}

.footer_logo img{
display:block;
margin:auto;
}
.footer_logo p.f_about_text{
    text-align:center;
	border-bottom: 2px solid #006c11;
}
section#nav_menu-3 h2 {
    display:none;
}

ul#menu-customer-resourses > li {
    display: inline-block;
    padding: 0 30px;
}
section#nav_menu-3 {
    margin-top: 3px;
}
section#text-2 {
    margin-top: 20px;
}
footer p.f_about_text {
    padding-top: 15px;
    padding-bottom: 15px;
}
section#text-2 h2 {
    text-align: center;
}
.contact_us {
    text-align: center;
    color: #fff;
}
.contact_us a{
color:#fff;
}
.contact_us a:hover{
color:#67b930;
}
.contact_us i{
margin-right:10px;
}
.contact_info {
    /* width: 75%; */
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: space-between; */
    text-align: center;
}
.contact_info p {
    display: inline-block;
    padding-left: 15px;
}
.contact_info p:first-child {
    padding: 0;
}
.contact_info a {
    color: #fff;
    transition:all .4s ease-in-out;
}
.contact_info a:hover{
    color: #006c11;
    transition:all .4s ease-in-out;
}
.social_icon {
    width: 30px;
    height: 30px;
    line-height: 30px;
    background: #006c11;
    color:#fff;
    text-align: center;
    border-radius: 100%;
    margin-right: 4px;
    transition:all .4s ease-in-out;
}
.social_icon:hover {
    background: #333;
    transition:all .4s ease-in-out;
}

#mega-menu-wrap-primary #mega-menu-primary[data-effect="fade_up"] li.mega-menu-item.mega-menu-megamenu > ul.mega-sub-menu, #mega-menu-wrap-primary #mega-menu-primary[data-effect="fade_up"] li.mega-menu-item.mega-menu-flyout ul.mega-sub-menu {
       border-bottom: 3px solid #006c11;
}

.tradmark.database {
    display: inline-block;
    width: 100%;
	margin: 0;
    padding: 60px 0 0 0;
}
.tradmark.database ul {
    padding: 0;
    margin: 0;
    text-align: center;
    display: table;
    width: 100%;
}
.tradmark.database ul li {
    display: table-cell;
    height: 250px;
    line-height: 250px;
	position: relative;
}
.tradmark.database ul li a {
    font-size: 20px;
    padding: 8px 12px;
    border: 1px solid #d2cece;
    display: inline-block;
    position: relative;
    z-index: 0;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
}
.tradmark.database ul li a:hover {
    color: #fff;
    border: 1px solid #006c11;
}
.tradmark.database ul li a:hover:after {
    height: 100%;
}
.tradmark.database ul li a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
    background-color: #006c11;
    color: #fff;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    z-index: -1;
}
.tradmark.database h3 {
    height: 250px;
    line-height: 250px;
    font-size: 40px;
    width: 80%;
	background:rgba(0, 108, 17, 0.8);
	color:#fff;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.tradmark.database h3 a {
    color: #fff;
}
.tradmark.database .bottom_branch ul {
    margin: 0 auto;
    width: 92%;
    display: inline-block;
    text-align: center;
}
.tradmark.database .bottom_branch ul li {
    display: block;
}

.left-arrow li:after {
    content: "";
    position: absolute;
    border-bottom: 3px solid #006c11;
    width: 36%;
    bottom: 50%;
}
.right-arrow li:after {
    content: "";
    position: absolute;
    border-bottom: 3px solid #006c11;
    width: 33%;
    bottom: 50%;
    left: -100px;
}
.bottom_branch li:after {
    content: "";
    position: absolute;
    border-bottom: 3px solid #006c11;
    width: 106px;
    bottom: 60%;
    left: 10%;
    transform: rotate(90deg);
    right: 0;
    margin: 0 auto;
    top: 0;
}

/***********************23 june*******************/
.testimonial-content h4:before {
    background: none;
}

/******************************26 june******************/
#example thead tr th {
    white-space: nowrap;
}
.tradmark.database {
    border: 1px solid #eee;
}
.tradmark.database h3 {
    height: 50px;
    line-height: 50px;
    font-size: 40px;
    width: 100%;
    background: rgba(0, 108, 17, 0.8);
    color: #fff;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.tradmark, .tradmark.database{
padding:0 0 0 0;
}
.tradmark.database ul{
border:1px solid #eee;
}
.tradmark.database ul li {
    height: 200px;
    line-height: 200px;
}

/************************27 june******************/
.database1 {
   height: 250px;    width: 250px;    background: #217f2f;    color: #fff;    line-height: 250px;    text-align: center;    margin: 56px auto 0;    border-radius: 4px;
}
.database1 i {
    font-size: 34px;
    margin-right: 10px;
}
.database1 span{
    font-size: 34px;
    font-weight: bold;
}
.database_links {
    width: 100%;
    height: auto;
    line-height: normal;
}
.database_links ul {
    display: table-cell;
    vertical-align: middle;
    height: 250px;
}
.database_links li {
    border: 1px solid #eee;
    margin-bottom: 20px;
    position:relative;
}
.database_links li:last-child{
    margin-bottom:0px;
}
.database_links li a {
    padding: 10px;
    font-size: 20px!important;
    display: block;
    transition: all .3s ease-in-out!important;
}
.database_links li a:hover{
    color:#fff!important;
    background: #217f2f;
    transition: all .3s ease-in-out!important;
}
.database_links li a i {
    position: absolute;
    left: 10px; 
}
.database_links li a span {
    margin-left: 30px; 
}

/*******************28 june*********************/
.section-4.testimonial {
    position: relative;
}
.section-4.testimonial:before {   
    content: "";    
    background: rgba(0, 36, 16, 0.6);    
    position: absolute;    
    height: 100%;    
    width: 100%;    
    left: 0;    
    top: 0;    
}
.testimonial h2.widget-title {       
    color: #007034; 
    margin-top: 15px;
    margin-bottom: 20px; 
}
.section-4.testimonial .widget_sp_testimonials {
    background: rgba(255,255,255,1);
    padding: 20px;
    color: #666;
    position: relative;
    margin-bottom: 10px;
}
.testimonial .testimonial-box.quote p,
.testimonials-slide-widget.design-3 .testimonial-inner h4,
.section-4.testimonial .widget_sp_testimonials .testimonial-cdec{
    color:#666;
}
.testimonials-slide-widget.design-1 .slick-next, 
.testimonials-slide-widget.design-2 .slick-next, 
.testimonials-slide-widget.design-3 .slick-next {
    right: -58px !important;
}


.testimonials-slide-widget.design-1 .slick-arrow, 
.testimonials-slide-widget.design-2 .slick-arrow, 
.testimonials-slide-widget.design-3 .slick-arrow {
    top: 50% !important;
    transform: translateY(-50%);
    margin-top:-33px!important;
}
.testimonials-slide-widget button.slick-next,
 .testimonials-slide-widget button.slick-next:hover, 
 .testimonials-slide-widget button.slick-next:focus {
    background:  url('/wp-content/uploads/2017/06/right-arrow.png') center no-repeat !important;
    background-size: 64px 64px !important;
    padding: 35px 40px!important;
    outline:none;
}
.testimonials-slide-widget button.slick-prev, .testimonials-slide-widget button.slick-prev:hover, .testimonials-slide-widget button.slick-prev:focus {
    background:  url('/wp-content/uploads/2017/06/left-arrow.png') center no-repeat !important;
    background-size: 64px 64px !important;
    padding: 35px 40px!important;
    outline:none;
}
.testimonials-slide-widget.design-1 .slick-prev, 
.testimonials-slide-widget.design-2 .slick-prev, 
.testimonials-slide-widget.design-3 .slick-prev {
    left: -58px !important;
}
.section-4.testimonial a.ow-button-hover {    
    background: rgba(255,255,255,1);    
    color: #006c11!important;
    position: relative;
    border: none;
    margin: 20px;
}
.section-4.testimonial a.ow-button-hover:hover{
    color:#fff!important;
}
h3.lcs_logo_title {
    color:#808080!important;
}

.banner-home {
    position: relative;
}
.gst-btn {
    position: absolute;
    bottom: 100px;
    left: 125px;
}
.gst-btn a.gst-text {
    padding: 15px 35px;
    transition: all 100ms;
    border-radius: 4px;
    background: rgb(0, 112, 52);
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    min-width: 150px;
    text-align: center;
    display: inline-block;
    height: 50px;
    letter-spacing: 3px;
}

.gst-btn a.gst-text:hover {
    background: #666;
}
.conatct_form .select-plan {
    width: 100%;
    height: 40px;
    padding: 5px 17px;
    border: 1px solid #dedede;
    margin-bottom: 5px;
    outline: none;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    color: #666666;
    font-size: 13px;
}

/*******************29 june****************/
div.dataTables_wrapper div.dataTables_length select {
    width: 100px;
}

/*********************3 july**********/
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a.mega-menu-link{
padding:0 20px 0 20px;
}
.site-footer ul li {
    position: relative;
}
.site-footer  ul.sub-menu {    
    position: absolute;    
    min-width: 250px;    
    background: #fff;    
    bottom: 32px;    
    left: 0;    
    display: none;    
    z-index: 999;    
    top: auto;
}
.site-footer ul.sub-menu  ul.sub-menu {    
    right: 0;    
    top: -50px;    
    bottom: auto;    
    left: 30px;    
    display: none;
}

.site-footer ul.sub-menu ul.sub-menu {    
    opacity: 0;
}
.site-footer ul.sub-menu li:hover ul.sub-menu {    
    opacity: 1;
}

.site-footer ul li:hover ul.sub-menu {    
    display: block;
}
ul#menu-customer-resourses li ul.sub-menu li a {
    color: #666;
    padding:6px 12px;
    display:block;
    font-size:12px;
    cursor:pointer;
}
.site-footer ul li ul.sub-menu li:hover {
    background: #ddd;
}
.site-footer ul.sub-menu:after {
    content: '';
    position: absolute;
    left: 21%;
    top: 100%;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
    clear: both;
}
.dataTables_paginate .pagination li.active a {
    background: #217f2f;
    color:#fff;
}
.dataTables_paginate .pagination li a {
    color: #217f2f;
}
.testimonial-cdec a{
    color:#666;
}
.nri_content p {
    text-align: justify;
}
.page-services-tabs {
    padding-left: 5px;
    padding-right: 5px;
}
.table-responsive{
    border:none;
}
#search .btn {
    transform: translate(-50%, -60%);
    margin-top: 0;
    margin-left: 0;
    top: 60%;
}
/***************7 july****************/
.faq-content {
    border-top: 2px solid #006c11;
        padding: 10px 20px;
}
.faq-content p {
    text-align: justify;
}
.faq-content ul li:before {
    content: "\2022";
    color: green;
    font-size: 17px;
    margin-right: 15px;
}
.faq-content ul.pagination li:before {
    content: none;
}
.faq-content a {
    color: #666;
    text-decoration: underline;
    transition: all .3s;
}
.faq-content a:hover{
    color: #006c11;
}
.faq-content img {
    display: block;
    margin: auto;
}
.faq-title h4 {
    font-size: 15px !important;
    font-weight: 600;
    opacity: .8;
}
.faq-title h4:before,
.faq-content h4:before {
    content: none;
}
.faq-title h4 {
    padding-left: 0;
}

/*************************13 july***********************/
.xlsx_table{
    margin:0 30px;
}
.xlsx_table table.table-bordered {
    table-layout: fixed;
    width: 100%;
}
.xlsx_table table thead {
    color: #217f2f;
    box-shadow: 0px 1px 4px rgba(0,0,0,.2);
    font-size: 18px;
}
.xlsx_table table td {
    word-wrap: break-word;
    padding: 8px 5px;
    vertical-align: middle;
    line-height: 20px;
}
.xlsx_table table th {
    text-align: center;
    padding: 5px;
}
tr.xlsx_states {
    background: #217f2f;
    box-shadow: 2px 4px 12px rgba(218,218,218,.8);
    font-size: 13px;
    font-weight: 900;
    color: #fff;
}
tr.xlsx_states td {
    padding: 12px 5px;
}
/***********************19 july*******************/
.contact_form_div h3.widget-title {
    border-bottom: 2px solid #007034;
    display: inline-block;
    padding-bottom: 5px;
}
.expert-opinion-on-gst h3 span {
    color: #007034;
}
.expert-opinion-on-gst .conatct_form {
    text-align: left;
    padding: 25px 50px;
    box-shadow: 0px 2px 2px 1px #eee;
}

.expert-opinion-on-gst .conatct_form input {
    border-radius: 2px;
    height: 35px;
}
.expert-opinion-on-gst .conatct_form input[type="submit"] {
    height: 40px;
    margin-top: 10px;
}
.expert-opinion-on-gst .contact_info {
    margin: 30px auto 0;
}
.expert-opinion-on-gst .contact_info a {
    color: #666;
    transition: all .2s;
    cursor: pointer;
}
.expert-opinion-on-gst .contact_info a:hover {
    color: #007034;
}

.GST-Rates-and-HSN-Codes {
    margin: 80px auto;
}
.GST-Rates-and-HSN-Codes .hsn-last-child{
    width:0;
}
.GST-Rates-and-HSN-Codes .product-description{
    width:50%;
}

.nri-pio a {
    color: #006c11;
    font-size: 13px;
    text-decoration: underline;
    transition: .2s;
}
.nri-pio a:hover {
    color: #666;
    text-decoration: none;
}
.nri-services h5 {
    color: #006c11;
    font-size: 22px;
    padding-bottom: 5px;
}

.submenublock {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    cursor: pointer;
    position: relative;
}

.submenublock h3 {
    margin: 0px;
    padding: 5px 10px;
    color: #fff;
    font-size: 13px;
}

#productmenu ul {
    list-style-type: none;
    list-style: none;
    margin: 0px 0px 0px 20px;
    padding: 5px 0px;
    margin: 0;
    position: absolute;
    top: auto;
    background: #fff;
    bottom: 100%;
	left: 12px;
	display:none;
}

#productmenu li{
    list-style-type:none;
    list-style:none;
    display: block;
    width:200px;
    padding: 0px;
    color: 
}

#productmenu li a {
    display: block;
    color: #333;
}
footer #productmenu li a:after{
content:none;
}

/***********************4sept*********************/


.enqueryform a {
    background: #006c11;
    color: #fff;
    width: 120px;
    text-align: center;
    padding: 3px;
    position: fixed;
    z-index: 9999;
    bottom: 50%;
    left: -47px;
    font-size: 14px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    cursor: pointer;
    letter-spacing: 1px;
}
.enqueryform a:hover {
    background: #007034;
}

.enquiry_form .wpcf7-form-control {
    border: 1px solid #E5E5E4;
    box-shadow: none;
    height: 40px;
    border-radius: 2px;
    padding: 8px 12px;
    width: 100%;
    resize: none;
    outline: none;
    background: transparent;
}


.enquiry_form textarea.wpcf7-form-control {
    min-height: 100px;
    height: 100px;
    overflow: hidden;
}
.enquiry_form .wpcf7-form-control.wpcf7-submit {
    width: auto;
    color: #fff;
    background: #006c11;
    border-radius: 3px;
    float: right;
    margin-top: 8px;
    padding: 10px 30px;
}

.remodal.remodal-is-initialized.remodal-is-opened button.remodal-close {
    color: #fff;
    background: #007034;
}

.enquiry_form h1 {
    margin-top: 0;
    margin-bottom: 24px;
    font-weight: 500;
}
.enquiry_form select.wpcf7-form-control {
    color: #666666;
}
.enquiry_form .wpcf7-form-control.wpcf7-submit:hover {
    opacity: 0.9;
}

.enquery-form .wpcf7-response-output.wpcf7-mail-sent-ok {
    border: 2px solid #007034;
    margin-top: 40px;
}

.enquery-form  div.wpcf7-validation-errors {
        border: 2px solid #ff3f3f;
     margin-top: 40px
}

.enquiry_form span.wpcf7-not-valid-tip {
    text-align: left;
}
.container.glossary.glossary_table {
    padding: 20px 0 20px 0;
}

.business-laws tr td:first-child, .business-laws tr th:first-child {
    width: 50%;
}

/****** Comment css *****/
.comments-area form {
    max-width: 70%;
    margin-top: 3%;
}
.comments-area p.comment-notes {
    color: #333;
    font-size: 14px;
}
.comments-area label {
    display: block;
    color: #333;
    padding: 0;
}

.comments-area input {
    width: 100%;
    border: 1px solid #dcd8d8;
    resize: none;
    padding: 0px 10px;
    font-size: 14px;
    outline: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    margin-bottom: 10px;
    height: 38px;
    border-radius: 2px;
}
.comments-area textarea{
    height: 100px;
      width: 100%;
    border: 1px solid #dcd8d8;
    resize: none;
    padding: 0px 10px;
    font-size: 14px;
    outline: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    margin-bottom: 10px;
    border-radius: 2px;
}
.comments-area p.form-submit input {
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
    background: #006c11;
    position: relative;
    line-height: 40px;
    border-radius: 3px;
    font-size: 14px;
    margin-top: 0;
    padding: 0px 20px;
    border: none;
    width: auto;
}
.comment-form-comment label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    padding: 0;
}
.entry-footer span.byline {
    display: block;
    font-size: 18px;
    /* color: #212121; */
}
.entry-footer span.byline img {
    padding-right: 7px;
    height: 45px;
}
.entry-footer span.posted-on {
    display: block;
    margin-top: 20px;
    font-size: 14px;
    color: #999;
}
.entry-footer span.posted-on a {
    color: #999;
}
footer.entry-footer {
    background: #ffffff;
}
.comment-respond .comment-reply-title {
    color: #190608;
    font-size: 18px;
    font-weight: 400;
    display: inline-block;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
}
.blogs .post-thumbnail {
    padding-top: 6%;
}
.blog_content .entry-title {
    color: #030303;
    font-size: 24px;
    /* line-height: 11px; */
}


/*************blog************/
.blogs .entry-content ul li strong {
    color: #286f34;
    font-size: 16px;
}
.blogs .entry-content ul li {
    margin-bottom: 15px;
    font-size: 15px;
}
.blogs .entry-content ul {
    padding: 0;
}
.blogs footer.entry-footer a:hover {
    color: #286f34;
}
.blogs p.logged-in-as a:hover {
    color: #286f34;
}

a#cancel-comment-reply-link:hover {
    color: #286f34;
}
.blog_page {
    padding-bottom: 50px;
    padding-top: 25px;
}
.blog_page article {
    padding-top: 20px;
    padding-bottom: 20px;
}
a.btn-blog-text {
    padding: 8px 0px;
    transition: all 100ms;
    border-radius: 4px;
    background: rgb(0, 112, 52);
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    min-width: 135px;
    text-align: center;
    display: inline-block;
    height: 35px;
    letter-spacing: 3px;
}
a.btn-blog-text:hover{
   opacity:0.8;
}
.blog_page h2.entry-title a {
    font-size: 20px;
    color: #007034;
    font-weight: 600;
}
.blog_page h2.entry-title a:hover{
  opacity:0.8;
}
.blog_page .entry-summary p {
    font-size: 16px;
    color: #777;
    line-height: 30px;
}
.blog_page ul.post-categories {
    padding: 0;
    margin: 0;
}

.blog_page ul.post-categories li {
    display: inline-block;
}
.blog_page ul.post-categories li a {
    color:#212121;
}

.contact_form_landing .wpcf7-form-control {
    background: #fff;
}


.contact_form_landing {
    background: rgb(191, 223, 219);
    padding: 20px 15px;
    border-top: 5px solid #286f34;
    width: 40%;
    left: 90px;
    margin: auto;
    position: absolute;
    top: 55%;
    -moz-transform: translateY(-104%);
    -ms-transform: translateY(-104%);
    -webkit-transform: translateY(-104%);
    transform: translateY(-50%);
}
.contact_form_landing .wpcf7-validation-errors,div.wpcf7-mail-sent-ok {
    margin-top: 40px;
    margin-bottom: 0;
}

.banner-home.landing img {
    width: 100%;
}
.banner-home.landing .enquiry_form h1 {
    font-size: 25px;
}
.banner-home.landing .enquiry_form textarea.wpcf7-form-control {
    min-height: 70px;
    height: 70px;
    overflow-y: auto;
}
.loan-landing #wonderplugintabs-29 > .wonderplugintabs-header-wrap .wonderplugintabs-header-ul {
    width: 100%;
}
.loan-landing #wonderplugintabs-29 > .wonderplugintabs-header-wrap .wonderplugintabs-header-li {
    background: #ffffff;
    border-color: #007034;
}
.loan-landing #wonderplugintabs-29 > .wonderplugintabs-header-wrap .wonderplugintabs-header-li:hover .wonderplugintabs-header-title {
    opacity:0.8;
    background: #006c11;
    color: #fff;
}
.loan-landing #wonderplugintabs-29 > .wonderplugintabs-header-wrap .wonderplugintabs-header-li:hover {
    background: #006c11;
}

.loan-landing #wonderplugintabs-29 > .wonderplugintabs-header-wrap {
    margin-bottom: 20px;
}
.loan-landing #wonderplugintabs-29 > .wonderplugintabs-header-wrap .wonderplugintabs-header-caption {
    padding: 5px 12px;
    text-align: center;
}
.loan-landing #wonderplugintabs-29 > .wonderplugintabs-header-wrap .wonderplugintabs-header-li.wonderplugintabs-header-li-active {
    background: #006c11 !important;
    color: #fff !important;
}

.loan-landing #wonderplugintabs-29 > .wonderplugintabs-header-wrap .wonderplugintabs-header-li.wonderplugintabs-header-li-active .wonderplugintabs-header-title {
    color: #fff;
}
.loan-landing #wonderplugintabs-29 > .wonderplugintabs-header-wrap .wonderplugintabs-header-title {
    margin: 0;
    color: #333;
    font-size: 14px;
}
.loan-landing .enquiry_form .wpcf7-form-control.wpcf7-submit {
    line-height: normal;
}
.loan-landing .enquiry_form h1 {
    color: #333;
    font-weight: 600;
}

input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required:focus {
    border-color: #006c11;
}
.thank-you {
    text-align: center;
    padding: 60px 0;
}
.left_gateway {
    text-align: left;
    margin-top: 20px;
    background: #465153;
    color: #fff;
    padding: 10px 30px;
    border-left: 7px solid #006c11;
}
.paymentoption input[type=radio] {
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 7px;
}
.wizard-card .payment_heading .paymentoption label {
    vertical-align: middle;
    cursor: pointer;
    color: #333;
    font-weight: 600;
}
.payment_heading .left_gateway label {
    color: #fff;
    margin: 0;
    padding: 0 0 0 6px;
    vertical-align: middle;
}
.wizard-card .payment_heading .left_gateway label {
    color: #fff;
    margin: 0;
    padding: 0 0 0 6px;
    padding-top: 0;
}
.payment_heading .left_gateway p {
    color: #fff;
    margin-bottom: 0;
    font-size: 16px;
}
.payment_heading .left_gateway h4 {
    padding: 0;
    color: #fff;
    margin: 5px 0px 5px 0;
    font-size: 16px;
}
.left_gateway .account_details {
    padding-left: 0;
}
.wizard-card .right_gateway .paytm_qr {
    display: inline-block;
    vertical-align: middle;
}

.paymentoption {
    margin-top: 30px;
}
.inner-page .payment_heading p {
    color: #333;
}
.inner-page .payment_heading .left_gateway p {
    color: #fff;
}
.thank-you h3 {
    font-size: 18px;
    font-weight: 500;
}
.thank-you h4 {
    font-size: 16px;
}
.thank-you p {
    font-size: 16px;
}

/*******media css*********/

@media (max-width: 1300px) {
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a.mega-menu-link{
padding:0 13px 0 13px;
}
}

@media (max-width: 1200px) {
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a.mega-menu-link{
padding:0 7px 0 7px;
}
}

@media (max-width: 1100px) {
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a.mega-menu-link{
padding:0 6px 0 6px;
}
.navbar #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a.mega-menu-link{
font-size:14px;
}
}

@media (max-width: 1024px) {

.trademark_category_btns ul li {
    margin-right: 0;
}   
.service-tab h3 {
    font-size: 15px;
}
.main-navigation .menu-primary-menu-container {
    margin-left: 0;
}
.callus {
    bottom: 9%;
}

.entry-title {
    font-size: 20px;
}
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a.mega-menu-link {
    padding: 0 4px 0 4px;
}
}

@media (max-width: 991px) {
.section-2-cosumer .left-block {
    margin: 0 auto;
}	
.slider .slider-text .slider-desc h1 {
    font-size: 35px;
    line-height: 45px;
}
.contact_form_landing {
    position: static;
    transform: none;
    width: 96%;
    margin-top: 70px;
    padding-bottom: 40px;
}
.banner-home.landing img {
    display: none;
	}
}

@media (max-width: 767px) {


.enqueryform a {
    bottom: 10%;
}    

#footer .text-left {
    width: 100%;
}
ul#menu-customer-resourses > li {
    padding: 0 10px;
}
footer .site-info .col-sm-7 {
    padding: 15px;
}
footer .site-info .footer-copyright{
    text-align: center;
}
footer .site-info .col-sm-7 ul.list-inline {
    margin-left: 0px;
    text-align: center;
}
footer .site-info .col-sm-7 ul.list-inline>li {
    display: inline-block;
    padding: 0 10px;
}
.gst-btn {
    bottom: 20px;
    left: 60px;
}
.contact-info {
    width: 100%;
    margin: 40px auto;
}



footer section.widget.widget_mc4wp_form_widget {
    margin-top: 20px;
} 
footer section.widget.widget_nav_menu {
    margin-top: 20px;
}
.head-cont {
    padding: 45px 0px 45px 24px;
}

.navbar-toggle {
    float: right;
    margin-left: 0;
}
.navbar .collapse{
    display: block;
}
.navbar-toggle .icon-bar {
    background: #ccc;
    height: 4px;
    width: 30px;
}

.canvas {
    padding: 0;
}
.slider .slider-text {
    width: 100%;
}
.slider .slider-text .slider-inner {
    padding: 15px;
}
.slider .slider-text .slider-desc h1 {
    font-size: 25px;
    line-height: 38px;
}
.our-services .service-slider .unslider .box {
    width: 100%;
    background: #fff;
    padding: 10px;
    margin-bottom: 2px;
}
.section-2-cosumer .left-block {
    width: 100%;
}
.section-2-cosumer .left-block .textwidget {
    right: -30px;
}
.section-2-cosumer .left-block .textwidget h2 {
    font-size: 38px;
}
.site-header nav.navbar .navbar-brand {
    padding: 4px;
}
.start_business .textwidget h3 {
 font-size: 15px !important;
}
.trademark_heading {
    padding: 14px 9px;
}
.container.start_business.panel-widget-style {
    padding: 0 !important;
}  
.post-thumbnail img {
    width: 100%;
}
.top-bar-right {
    text-align: center;
}
.top-bar-right .navbar-brand {
    float: none;
}
.top-bar-right ul.right-top {
    margin-top: 6px;
}
.top-bar .top-bar-right ul.right-top li {
    margin-bottom: 12px;
}

.top-bar .top-bar-right ul.fonts_dime {
    display: none;
}
footer section#nav_menu-2 {
    padding-left: 0;
}
footer section#nav_menu-4 {
    padding-top: 0;
    margin-bottom: 20px;
}

.list-inline>li {
    display: block;
    padding: 0;
}
footer .site-info a:after{
	content:none;
}
footer .site-info a {
    padding: 0;
}

.core .so-panel .widget-title, 
.core .so-panel .textwidget {
    margin-left: 0px;
}
.xlsx_table{
    margin:0 0px;
	}
	.contact_form_landing {
    margin-top: 20%;
    padding-bottom: 40px;
	}

    .loan-landing #wonderplugintabs-29 > .wonderplugintabs-header-wrap .wonderplugintabs-header-li.wonderplugintabs-header-li-active .wonderplugintabs-header-caption {
        background: #006c11;
    }
    .loan-landing #wonderplugintabs-29 > .wonderplugintabs-header-wrap .wonderplugintabs-header-li.wonderplugintabs-header-li-active {
        background: transparent !important;
        color: #fff !important;
    }
    #wonderplugintabs-29 > .wonderplugintabs-header-wrap .wonderplugintabs-header-li-fullwidth:last-child {
        border-bottom: 1px solid #006c11;
    }

}


.landing-loan-img img.attachment-post-thumbnail.size-post-thumbnail.wp-post-image {
    height: 250px;
    width: 100%;
}
.landing-loan-img {
    padding: 0px;
}



@media (max-width: 680px) {

.trademark_heading {
    width: 100%;
    overflow: hidden;
}
.trademark_category_btns {
    width: 100%;    
}

.tradmark.database ul li {
    height: 50px;
    line-height: 50px;
    display: block;
    margin: 20px auto;
}

.gst-btn {
    left: 50px;
}
.gst-btn a.gst-text{
    padding:10px 25px;
    height:40px;
}
ul#menu-customer-resourses > li {
    padding: 0px 5px;
    font-size: 13px;
}
footer .site-info .col-sm-7 ul.list-inline>li {
    padding: 0 8px;
}
}

@media (max-width: 568px) {

.trademark_category_btns {
    width: 100%;
    padding: 0;
    margin-top: 12px;
}
.trademark_heading {
    width: 100%;
}
.navbar-toggle {
    float: right;
    margin-left: 0;
    display:none;
}
.site-header.sticky nav.navbar {
    background: transparent;
}
.site-header nav.navbar {
    position: static;
}
.navbar #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a.mega-menu-link {
    color: #fff;
}
.our-services {
    background-size: contain;
    padding: 0 0px 120px 0px !important;
	}
	
#panel-4-1-0-0 > .panel-widget-style {
    padding: 0 !important;
   }

.gst-btn {
    bottom: 15px;
    left: 30px;
}
.gst-btn a.gst-text {
    padding: 5px 20px;
    font-size: 15px;
    letter-spacing: 1px;
    min-width: 120px;
    height: 30px;
}
#footer .text-left {
    width: 100%;
}
ul#menu-customer-resourses > li {
    padding: 0 25px;
}

footer .site-info .col-sm-7 ul.list-inline>li {
    padding: 0 5px;
}
.contact_form_landing {
    margin-top: 8%;
    padding-bottom: 40px;
	}
}

@media (max-width: 480px) {

.enquiry_form h1 {
    margin-bottom: 15px;
    font-size: 28px;
}


#panel-4-1-0-0 > .panel-widget-style {
    padding: 0 !important;
	}
.gst-btn a.gst-text {
    padding: 6px 6px;
    font-size: 12px;
    height: 26px;
}	
.gst-btn {
    bottom: 10px;
    left: 42px;
}	
.panel-widget-style {
    padding: 0px!important;
}

ul#menu-customer-resourses > li {
    display: block;
    padding: 0px;
}
.contact_info p {
    display: inline-block;
    padding-left: 0px;
    padding-right:0px;
}

.testimonial h2.widget-title{
    font-size:24px;
}
.section-4.testimonial .widget_sp_testimonials {
    width: 100%;
}
footer .site-info .col-sm-7 ul.list-inline>li {
    padding: 0 0px;
    display: block;
}	
.inner-header {
    padding-top: 0px;
    margin-top:0;
}
.database_links ul {
    margin-top: 50px!important;
    display: block;
}
.top-bar .font-resizer {
    margin-right: 0;
}


.testimonials-slide-widget button.slick-prev, 
.testimonials-slide-widget button.slick-prev:hover, 
.testimonials-slide-widget button.slick-prev:focus,
.testimonials-slide-widget button.slick-next, 
.testimonials-slide-widget button.slick-next:hover, 
.testimonials-slide-widget button.slick-next:focus{
    background-size:48px 48px!important;
}
.testimonials-slide-widget.design-1 .slick-prev, 
.testimonials-slide-widget.design-2 .slick-prev, 
.testimonials-slide-widget.design-3 .slick-prev {
    left: -50px !important;
}
.testimonials-slide-widget.design-1 .slick-next, 
.testimonials-slide-widget.design-2 .slick-next, 
.testimonials-slide-widget.design-3 .slick-next {
    right: -50px !important;
}
.contact_us i,.contact_info i {
    display: block;
    margin: 10px auto;
}
.contact_info p {
    font-size: 13px;
    display: block;
}
.contact_info p:last-child i {
    display: inline-block;
}
section#nav_menu-3 {
    text-align: center;
}

}





/**************************media end********/
