.so-widget-sow-button-atom-d0e184f47d5a .ow-button-base a {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1em;
  padding: 1em 2em;
  background: #006c11;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#003909),color-stop(1,#006c11));
  background: -ms-linear-gradient(bottom,#003909,#006c11);
  background: -moz-linear-gradient(center bottom,#003909 0%,#006c11 100%);
  background: -o-linear-gradient(#006c11,#003909);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#006c11', endColorstr='#003909', GradientType=0);
  border: 1px solid;
  border-color: #002a07 #002005 #001003 #002005;
  color: #ffffff !important;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  text-shadow: 0 1px 0 rgba(0,0,0,0.05);
}
.so-widget-sow-button-atom-d0e184f47d5a .ow-button-base a .sow-icon-image,
.so-widget-sow-button-atom-d0e184f47d5a .ow-button-base a [class^="sow-icon-"] {
  margin: -0.1em 0.75em -0.2em -0.75em;
}
.so-widget-sow-button-atom-d0e184f47d5a .ow-button-base a:visited,
.so-widget-sow-button-atom-d0e184f47d5a .ow-button-base a:active,
.so-widget-sow-button-atom-d0e184f47d5a .ow-button-base a:hover {
  color: #ffffff !important;
}
.so-widget-sow-button-atom-d0e184f47d5a .ow-button-base a.ow-button-hover:hover {
  background: #007613;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#00430b),color-stop(1,#007613));
  background: -ms-linear-gradient(bottom,#00430b,#007613);
  background: -moz-linear-gradient(center bottom,#00430b 0%,#007613 100%);
  background: -o-linear-gradient(#007613,#00430b);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#007613', endColorstr='#00430b', GradientType=0);
  border-color: #003408 #002a07 #001a04 #002a07;
  color: #ffffff;
}