/*

* Override Pages default styles or create your own styles here

*/
.select2-container {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle;
    z-index: 99999;
}
.form-group-default.form-group-default-select2 > label {
    position: absolute;
    z-index: 999999;
    padding: 7px 12px 0 12px;
}
.nav-tabs > li {
    padding-left: 0;
    padding-right: 0;
    width: 47%;
}

table.subcat tbody tr td {
    background-color: #f5f5f5;
}